.task span {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.task {
  taskbackground: #f4f4f4;
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.625rem 1.25rem;
  background: #f4f4f4;
}

.task.reminder {
  border-left: 0.25rem solid green;
}
