/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: \"Poppins\", sans-serif;
}

.btn {
  background: #000;
  border-radius: 0.375rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.375rem;
  padding: 0.625rem 1.75rem;
  text-decoration: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.container {
  border-radius: 0.25rem;
  border: 0.125rem solid #64748b;
  margin: 1.75rem auto;
  max-width: 19rem;
  min-height: 19rem;
  overflow: auto;
  padding: 2rem;
}

.form-control input {
  font-size: 1rem;
  line-height: 1.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  padding: 0.125rem 0.375rem;
  width: 100%;
}

.form-control label {
  display: block;
}

.form-control {
  margin: 20px 0;
}

.form-control-check input {
  flex: 2;
  height: 1.25rem;
}

.form-control-check label {
  flex: 1;
}

.form-control-check {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
